<div class="title">
  <h1> <%=@group.name%></h1>
  <p>Currently on the Raft</p>
  <% @members.each do |member| %>
  <li><%= member.first_name %></li>
  <% end  %>

  <h1>Events!</h1>
  <%  @events.each do |event| %>
  <ul>
    <%= link_to event.name, group_event_path(@group, event) %>
  </ul>
  <% end %>



  <h1 class="title-text">Invite friends onto your Raft™</h1>
  <%= form_tag :_invitations, :method => 'get' do %>
  <p class="friend-search">
    <label>Find Friends by username: </label>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <% end %>
</div>
