<div class="container center">
<div class="title center">
  <h5 class="center"> <%=@group.name%></h5>


<% if @group.images.length > 0 %>
<h6> Photos from our last event!</h6>

<div class="group-carousel center">
<div id="carouselExampleSlidesOnly" class="carousel slide container" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <% @group.images.all.each do |image| %>
    <div class="item <%= 'active' if image == @group.images.all[0] %>">
      <%= image_tag image.group_image.url(:medium) %>
    </div>
    <% end %>
  </div>
</div>
<% end %>
</div>
<br>
<p> Upload photos of the Raft!</p>
<%= form_for @image, url: group_images_path(@group) do |form| %>
<label class="btn btn-default purple lighten-1 btn-file">
  Choose File
  <%= form.file_field :group_image %>
    </label>
    <br>
    <br>
  <%= form.submit 'Add Photos of the Raft', :class => 'btn-success' %>
<% end %>


<div class="card-panel grey lighten-3 center">
  <p class="center">Raft Members</p>
  <% @members.each do |member| %>
  <i><p class="center"><%= member.first_name %></p></i>
  <% end  %>

  <% if @invitation.length > 0 %>
    <%= form_for :membership, url: user_memberships_path(current_user.id) do |f| %>
      <%= f.hidden_field(:group_id, value: @group.id) %>
      <%= f.submit "Join In!", :class => "waves-effect purple lighten-1 btn" %>
    <% end %>
  <% end %>

</div>

<div class="card-panel grey lighten-3 center">

  <h5>Events!</h5>
  <%  @events.each do |event| %>
  <ul>
    <%= link_to event.name, group_event_path(@group, event), :style => "color: white; text-decoration: underline;" %>
  </ul>
  <% end %>
  <%= link_to "new event", new_group_event_path(@group), :class => "waves-effect purple lighten-1 btn"  %>

</div>

<div class="card-panel grey lighten-3 center">
  <h6 class="title-text"><strong>Invite friends onto your Raft</strong></h6>
  <%= form_tag :_invitations, :method => 'get' do %>
  <p class="friend-search center">
    <label>Find Friends by username: </label>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, :class => "waves-effect purple lighten-1 btn"  %>
  </p>
  <% end %>
  </div>
</div>


<div class= "comments grey lighten-2">

<%= render partial: '/comments/new_group', locals: { commentable: @group } %>

</div>
<div class="list-group">
<p>Comments:</p>
<% @group.comments.limit(3).each do |comment| %>
<p class="list-group-item"> <%= comment.body %>
<em> ~ <%= comment.author.username %></em> <%= comment.created_at.strftime("-- %m/%d/%Y") %>
</p>
<% end %>
</div>

</div>



