<h6 class="center"><i>Create an Account with Raft</i></h6>
<br>
<div class="container center">


  <div class="alert-danger">
    <% if @errors %>
    <span>Something went wrong:</span>
    <ul class="error-list pad-b-2">
      <% @errors.each do |error| %>
      <li class="error-item"><%= error %></li>
      <% end %>
    </ul>
    <% end %>
</div>
 <div class="card-panel grey lighten-3">
    <%= form_for :user, :html => {:class => "form-horizontal"}, url: '/users' do |f| %>
    <div class="form-group">
      <%= f.label :first_name, "First Name:", class: "col-sm-2 control-label" %>
      <%= f.text_field :first_name, class: 'form-inline' %><br>
    </div>
    <div class="form-group">
      <%= f.label :last_name, "Last Name:", class: "col-sm-2 control-label" %>
      <%= f.text_field :last_name, class: 'form-inline' %><br>
    </div>
    <div class="form-group">
      <%= f.label :username, "Username:", class: "col-sm-2 control-label" %>
      <%= f.text_field :username, class: 'form-inline' %><br>
    </div>
    <div class="form-group">
      <%= f.label :email, "Email:", class: "col-sm-2 control-label" %>
      <%= f.text_field :email, class: 'form-inline' %><br>
    </div>
    <div class="form-group">
      <%= f.label :password, "Password:", class: "col-sm-2 control-label" %>
      <%= f.password_field :password, class: 'form-inline' %><br>
      <%= f.submit "Register!", class: "waves-effect btn" %>
    </div>
    <% end %>
  </div>
</div>
</div>
