


<div class="container center">
<img class="prof">
<%= image_tag @user.avatar.url(:thumb), :class=>"circle" %>
<br>
</img>
<br>
<%= form_for @user, :url => { :action => "update" } do |form| %>
<label class="btn btn-default btn-file">
  Select a Profile Picture
  <%= form.file_field :avatar%>
  </label><br><br>
  <%= form.submit 'Upload', :class => 'btn-success' %>
<% end %>

  <% if current_user.fine_owed != true %>
    <% if @groups.length > 0 %>
  <div class="card-panel grey lighten-3 center">
      <p>Rafts You're Ridin'</p>
        <ul>
      <% @groups.each do |group| %>
        <p><%= link_to group.name, group_path(group), :class =>"waves-effect btn" %></p>
      <% end  %>
  <% end %>
<% else %>
  <big><p>You Owe Money...</p></big>
    <p> click this button to send money to the members of {group}</p>
   <%= link_to "Pay up", transactions_send_funds_path %>
  <% end  %>
</div>

</ul>

<div class="card-panel grey lighten-3 center">
  <% if current_user.dwolla_verified == true %>
    <% if current_user.invitations.length > 0 %>
      <p>Check Out Your Invites!</p>
      <ul>
        <% current_user.invitations.each do |invitation| %>
          <li>
          <%=link_to Group.find_by(id: invitation.group_id).name, group_path(invitation.group_id)  %>
          </li>
        <% end  %>
      </ul>
    <% else %>
      <p>You have no invites...shucks</p>
    <% end %>
  <% else %>
     <%= render partial: 'users/verify' %>
  <% end  %>
</div>

<% if current_user.dwolla_verified == true %>
 <div class="card-panel grey lighten-3">
  <%= render partial: '/groups/new' %>

</div>
<% end  %>
<% if current_user.upcoming_events.length > 0 %>
<div class="card-panel grey lighten-3 center">
<p> Upcoming Events </p>
    <% current_user.upcoming_events.each do |event| %>
    <%= link_to event.name, group_event_path(current_user, event), :style => "color: black; text-decoration: underline;" %>
    <% end %>
</div>
 <% end %>
</div>









