


<div class="container center">
<img class="prof">
<%= image_tag @user.avatar.url(:thumb), :class=>"circle" %>
<br>
</img>
<br>
<%= form_for @user, :url => { :action => "update" } do |form| %>
<label class="btn btn-default purple lighten-1 btn-file">
  Choose File
  <%= form.file_field :avatar%>
  </label>
  <br>
  <br>
  <%= form.submit 'Add Avatar', :class => 'btn-success' %>
<% end %>

<div class="card-panel grey lighten-3 center">
  <h5 class="center"> Hey <%= @user.first_name %>! </h5>
</div>

<div class="card-panel grey lighten-3 center">
  <% if current_user.fine_owed != true %>
    <% if @groups.length > 0 %>
      <p>Rafts you're a ridin'</p>
        <ul>
      <% @groups.each do |group| %>
        <p><%= link_to group.name, group_path(group), :class =>"waves-effect blue darken-4 btn" %></p>
      <% end  %>
    <% else %>
  <p class="center">You have no Rafts yet...Come on!!!</p>
  <% end %>
<% else %>
  <big><p>You Owe Money...</p></big>
    <p> click this button to send money to the members of {group}</p>
   <p> button that hits our route and then makes the API route out to dwolla </p>
  <% end  %>
</div>

<div class="card-panel grey lighten-3 center">
</ul>

  <% if current_user.dwolla_verified == true %>
    <% if current_user.invitations.length > 0 %>
      <p>Check Out Your Invites!</p>
      <ul>
        <% current_user.invitations.each do |invitation| %>
          <li>
          <%=link_to Group.find_by(id: invitation.group_id).name, group_path(invitation.group_id)  %>
          </li>
        <% end  %>
      </ul>
    <% else %>
      <p>You have no invites...shucks</p>
    <% end %>
  <% else %>
     <%= render partial: 'users/verify' %>
  <% end  %>


</div>


 <div class="card-panel grey lighten-3">
  <%= render partial: '/groups/new' %>

</div>

<% if current_user.upcoming_events.length > 0 %>
<div class="card-panel grey lighten-3 center">
<p> Upcoming Events </p>
    <% current_user.upcoming_events.each do |event| %>
    <%= link_to event.name, group_event_path(current_user, event), :style => "color: black; text-decoration: underline;" %>
    <% end %>
</div>
 <% end %>
</div>

<!-- avrils just playing -->
<!-- <div class="recent-activity card-panel blue">
<p>
Recent Activity:
</p>
<%#= current_user.groups.find(1).name %>
<#%# current_user.groups.find(1).comments.limit(3).each do |comment| %>

<p> <#%#= comment.body %> </p>
<em><#%#= comment.author.username %></em>
<#% end %> -->

<!-- avril -->










