<div class="container">

<p>Add some links back to the raft page and one back to all raft index</p>

<p> Testing methods... </p>
<%= user_has_voted(current_user, @event) %>
<%= raft_has_voted(@event, @raft) %>
<p> *************** </p>

<%if !current_user.rsvp?(@event) %>
  <div id="rsvp-drsvp">
    <%= form_for [@event, Rsvp.new], method: :post,  remote: true do |f|  %>
      <%= f.submit "GET ON BOARD!",:class => "waves-effect purple lighten-1 btn" %>
    <% end  %>
  </div>
<% else %>
    <div id="rsvp-drsvp">
    <%= form_for [@event, @rsvp], method: :delete,  remote: true do |f|  %>
      <%= f.submit "Hop on off",:class => "waves-effect purple lighten-1 btn" %>
    <% end  %>
  </div>
<% end %>

<h5 class="center">
<%= @event.name %>
</h5>
  <div class="card-panel teal">
    <% if @event.polls.length == 3 %>
      <p> The leading event details are <%= highest_choice(@events_polls[0]) %> on <%= highest_choice(@events_polls[1]) %> at <%= highest_choice(@events_polls[2]) %> </p>
    <% end %>
  </div>
<%= render partial: 'polls/answer_form' %>
</div>
<b>

