<h2>Friends Search</h2>
<ul>
  <% @users.each do |user| %>
      <li><a href="/users/<%= user.id %>"><%= user.username %></a>
        <%= form_for Invitation.new, url: "/groups/#{@group.id}/invitations", method: "post" do |f| %>
        <%= f.hidden_field :sender_id, :value => current_user.id %>
         <%= f.hidden_field :recipient_id, :value => user.id %>
        <%= f.submit "Send Invite" %>
      </li>
      <% end  %>
  <% end %>
</ul>

