<div class="form-group">
  <%= form_for @poll do %>

  <% @poll_array.each do |poll| %>

  <%= fields_for 'poll_array[]', poll do |p| %>
    <%= p.hidden_field :question, value: 'location' %><br>

      <p>Location</p>
        <%= p.fields_for :choices do |choices_form| %>
          <%= choices_form.label :option %>
          <%= choices_form.text_field :title %><br>
        <% end %>
    <%= p.submit "Submit Poll!" %>
  </div>

  <% end %>
  <% end %>
  <% end %>
