<div class="container">

<div class="container">

  <% questions_array = ["date", "time"] %>
  <% counter = 0 %>
    <div class="card-panel teal">
  <%= form_for @poll do |f|%>
  <% @poll_array.each do |poll| %>
 <h5> <%= questions_array[counter]%> </h5>

  <%= fields_for 'poll_array[]', poll do |p| %>
 <!-- p.hidden_field :question, value: 'location' %><br> -->

        <%= p.fields_for :choices do |choices_form| %>
          <%= choices_form.label :option %>
          <%= choices_form.text_field :title %><br>
        <% end %>


  <% end %>
  <%  counter += 1 %>
  <% end %>
    <%= f.submit "Submit Poll!",:class => "waves-effect purple lighten-1 btn" %>
</div>
  <% end %>
</div>
