<p>"here lies a place to make a new poll"</p>


<%= form_for @poll do |f| %>

<%= f.label :question %>
<%= f.text_field :question %>
<br>
<p>CHOICES</p>
<%= f.fields_for :choices do |choices_form| %>
        <%= choices_form.label :title %>
        <%= choices_form.text_field :title %>
<br>
    <% end %>


<%= f.submit "Submit Poll!" %>
<% end %>

