<!DOCTYPE html>
<html>
<head>


  <title>Raft</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&libraries=places&callback=initAutocomplete"
         async defer></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="<%= asset_url 'Q-logo-with-bg.png' %>">
  <link rel="icon"
  type="image/ico"
  href="<%= asset_url 'favicon.ico' %>">
  <body class="background" style="font-color:white;">


    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">RAFT™</a>
          <ul class="nav navbar-nav" style="width:auto; white-space: nowrap;">
            <li><a href="/">Home</a></li>
            <% if logged_in? %>
            <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
            <li>POINTS:<%= current_user.points %></li>
            <% else %>
            <li><%= link_to "Register", new_user_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>


  </body>
  </html>
